// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";
@import "rdcms/chosen";

@import "compass";
@import "rdcms/farbtastic";

@import "rdcms/overlays";
@import "rdcms/navbars";

// To customize the Active Admin interfaces, add your
// styles here:
$background-color: black;

body.active_admin {
  @import "rdcms/bootstrap_and_overrides";
  @import "rdcms/jquery.fileupload-ui";
  @import "rdcms/formstyle";
}

@import "rdcms/glyphs";
@import "rdcms/flags";
@import "core";

body.active_admin {
  padding: 0;

  form {
    &.form-horizontal .controls {
      display: block;
    }

    .line + .line {
      margin-top: 10px;
    }

    .datetime_select {
      select {
        width: auto;
      }
    }

    label.label {
      background-color: transparent;
      border-radius: 0;
      color: #5E6469;
      font-size: 1em;
      line-height: 20px;
      padding: 0;
      white-space: normal;
    }
    .radio_button,
    .checkbox_button {
      padding-top: 6px;

      input[type="radio"],
      input[type="checkbox"] {
        margin: -5px 0 0;
      }
      label {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
  .attributes_table table {
    tbody th { text-align: right; }
  }
  .thumbnails {
    list-style: none outside none;
  }

  .nav {
    list-style: none outside none;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover {
    color: #555555;
  }
  .thumbnails {
    margin-left: -20px;

    > li {
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }

  .tabbable {
    $mp: 5px;
    .nav {
      margin-bottom: 0;
    }
    .thumbnails {

      margin-left: -$mp;
      padding-left: $mp;

      padding-top: $mp;

      > li {
        margin-bottom: $mp;
        margin-left: $mp;
      }
    }
    form {
      margin: 0;
    }
  }

  .actions-buttons {
    margin-bottom: 5px;
  }

  a {
    &.btn { text-decoration: none }
    &.btn-primary { color: #FFF; }
    &.btn-link { text-decoration: underline; }
  }

  #upload_container .uploads-list .template-download .det.footer {
    > div {
      float: none;
      display: inline-block;
    }
    > div + div {
      margin-left: 10px;
    }
  }

  /* Uploads */
  .uploads-list {
    height: 512px;
    overflow: auto;
  }
  #upload_container   .uploads-list { height: 492px;  }
  #gallery_container  .uploads-list { height: 547px; }

  /* Artigos */
  .post-list > h3 {
    line-height: 24px;
    margin: 0;
  }
  &.admin_posts {
    .summary .text_area {
      height: 73px;
      padding: 4px 6px;
    }
  }

  /* Configurações de aparências */
  #admin_header,
  #admin_footer,
  #admin_contact {
    .attributes_table > .row {
      margin-left: -23px;
    }
    .header_padding,
    .footer_padding {
      input { width: auto; }
    }
  }

  #admin_footer {
    footer {
      box-shadow: none;

      .container {
        padding-left: 20px;
      }
    }
  }

  #admin_contact {
    .preview_contact_background {
      height: 255px;
      width: 100%;
      background: url("slider/pattern_bg.png") repeat scroll 0 0 #282828;

      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
    }
  }

  /* Informações da Empresa */
  .settings_company {
    dl.form {
      float: none;
      margin: 0 auto;
    }
  }

  /* Publicações */
  &.admin_publications {
    .form-actions {
      padding: 10px 0;
    }
    .tabbable {
      .tab-content {
        padding: 25px;
      }
    }
    .description .text_area {
      height: 73px;
      padding: 4px 6px;
    }
    #upload_container {
      .uploads-list {
        height: auto;

        .template-download {
          .det.footer > div {
            a.btn-primary {
              color: #fff;
            }
          }
        }
      }
    }
  }
  /* Sliders */
  &.admin_sliders {
    .form-actions {
      padding: 10px 0;
    }
    .tabbable {
      .tab-content {
        padding: 25px;
      }
    }
    .description .text_area {
      height: 73px;
      padding: 4px 6px;
    }
    /* Ajax Form */
    .slider_edit_container {
      form {
        .image_input_send { display: none; }
      }
    }
    #upload_container {
      .uploads-list {
        height: auto;

        .template-download {
          .det.footer > div {
            a.btn-primary {
              color: #fff;
            }
          }
        }
      }
    }
  }
  /* Partners */
  &.admin_partners {
    .form-actions {
      padding: 10px 0;
    }
    .tabbable {
      .tab-content {
        padding: 25px;
      }
    }
    .description .text_area {
      height: 73px;
      padding: 4px 6px;
    }
    #upload_container {
      .uploads-list {
        height: auto;

        .template-download {
          .det.footer > div {
            a.btn-primary {
              color: #fff;
            }
          }
        }
      }
    }
  }

  /* Settings > Visualizations */
  &.admin_visualization {
    div#main_content h3 {
      margin-left: 0;
    }
  }
  /* Google Analytics */
  .google_analytics_container {
    table {
      font-size: 14px;

      tbody {
        th { text-align: center; }
        td { text-align: left; }
      }
    }
    .metrics {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

@media (max-width: 1200px) {
  $span6Width: 467px;
  body.active_admin {
    .uploads-list {
      width: $span6Width;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  $span6Width: 357px;
  body.active_admin {
    .uploads-list {
      width: $span6Width;
    }
  }
}

span.startpage{
  font-weight:bold;
  color:red;
  display:inline-block;
}

div#rdcms_image_maganger{
  position:fixed;
  right:330px;
  top:200px;
  height:200px;
  width:350px;
  background-color:$background-color;
  opacity:0.8;
  box-shadow:10px 10px 10px grey;
  ul{
    list-style:none;
    padding: 0;
    li{
      float:left;
      margin:3px;
      img{
        cursor:move;
      }
    }
  }
  .header{
    background-color: grey;
    width:100%;
    height:16px;
    cursor:move;
    .close{
      margin:1px;
      float:right;
      height:14px;
      width:14px;
      background:url("/assets/close.png") no-repeat transparent;
      cursor:pointer;
    }
  }
}

.panel_contents .well .royalSlider {
  margin: 0;
}

div#titlebar_left h2#page_title {
  margin-left: 100px;
}
#header {
  padding:9px 30px 9px 150px;

  .site_title img {
    height: 48px;
  }
  ul#tabs > li, #utility_nav {
    font-weight:bold;
  }
  ul#tabs > li.has_nested.current > a, ul#tabs > li.has_nested > a {
      padding-right: 35px;
  }
  ul#tabs.header-item {
    left: 92px;
  }
}
#title_bar {
  padding:10px 30px 10px 158px;
}
body.active_admin .breadcrumb {
  margin-left: 100px;
}
div#main_content h3 {
  margin-left: 10px;
}
a.button {
  margin-left: 10px;
}

legend .foldable_icon_wrapper{
  .foldable_icon{
    background:url("/assets/arrow.png");
    width:20px;
    height:20px;
    float:right;
    margin:5px;
    cursor:pointer;
    @include rotate(90deg);
    @include transition(all 500ms);
    &.open{
      @include rotate(0deg);
    }

  }
}

h3 .foldable_icon_wrapper{
  .foldable_icon{
    background:url("/assets/arrow.png");
    display:inline-block;
    width:20px;
    height:20px;
    float:right;
    cursor:pointer;
    @include rotate(90deg);
    @include transition(all 500ms);
    &.open{
      @include rotate(0deg);
    }

  }
}

.sidebar_section > div.panel_contents{
  padding-left:0px;
  padding-right:0px;
}

.sidebar_section.warning > div.panel_contents{
  //background-color: lightred;
  @include background(linear-gradient(top, #ffffff 0%, red 100%));
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

body.active_admin .sidebar_section > div div.overview-sidebar{
  margin:0 0 0 -30px;
  padding:0 0 0 0px;
  ul{
    list-style:none;
    margin:0 0 0 0;
    padding:0 0 0 15px;
    li{
      margin:0 0 0 0;
      padding:0 0 0 0;

      div.item{
        width:90%;
        padding:0 0 0 8%;
        line-height:14px;
        border-bottom: 1px dotted transparent;
        &:hover{
          border-bottom: 1px dotted grey;
        }

        div.folder{
          background:url("/assets/tree.png") no-repeat -6px;
          height:12px;
          width:12px;
          display:inline-block;
          cursor:pointer;
        }

        div.last_folder{
          background:url("/assets/tree.png") no-repeat -9px;
          height:12px;
          width:12px;
          display:inline-block;
        }


        div.title{
          display:inline-block;
          ul{
            display:none;
          }
          a{
            text-decoration:none;
            cursor:pointer;
          }
          overflow: hidden;
          width: 145px;
          height: 16px;
          line-height: 16px;
        }
        div.options{
          display:inline-block;
          float:right;
          a{
            display:inline-block;
            text-indent:-9999px;
          }
          a.new_link{
            width:14px;
            height:14px;
            background:url("/assets/icons/16/plus.png");
            @include background-size(14px);
          }
          a.edit_link{
            width:14px;
            height:14px;
            background:url("/assets/icons/16/compose-3.png");
            @include background-size(14px);
          }
        }
      }
    }
  }
}

textarea.metadescription_hint {
  background-color: transparent;
  border: 0px;
  height: 185px;
}

#article_hint_label_input {
  margin-top: 15px;
}
textarea#article_summary, textarea#article_teaser{
  resize: none;
}

.per_page_links a{
  color: #5c6469;
  text-decoration:none;
  font-weight:bold;
}

.index_as_table {
  a{
    &.online{
      color:green;
      text-decoration:none;
    }
    &.offline{
      color:red;
      text-decoration:none;
    }

  }
}

h3.rdcms_article_article_type{
  text-align:center;
}

table.importer_assoziations td.nested_model_header{
  font-weight:bold;
}

form li.hidden.input{
  display:none;
}

body.active_admin .status{
  background: none;
  color: #000;
}

body.active_admin .index_table .edit{
  background: url("/assets/icons/32/compose-3.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin tbody .online{
  background: url("/assets/icons/32/play.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin tbody .list{
  background: url("/assets/icons/32/list-2.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin tbody .create{
  background: url("/assets/icons/32/plus.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin tbody .offline{
  background: url("/assets/icons/32/stop.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .view{
  background: url("/assets/icons/32/eye.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .delete{
  background: url("/assets/icons/32/delete.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .new_subarticle{
  background: url("/assets/icons/32/folder-add.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent:-99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .import{
  background: url("/assets/import.jpg") no-repeat center center transparent;
  text-indent:-99999px;
  width: 22px;
  height: 20px;
  display: inline-block;
}

body.active_admin table.index_table th:last-child {
  width: 130px;
  min-width: 130px;
}

div.has_many.vita_steps {
  li.input {
    fieldset.inputs.has_many_fields {
      margin: 0px;
      padding: 0px;
    }
  }
}

body.active_admin form input[type="submit"] {
    display: inline-block;
    margin-right: 3px;
    padding: 7px 16px 6px;
    cursor: pointer;

    background-color: #7FBF4D;
    background: -moz-linear-gradient(center top , #7FBF4D, #63A62F);
    background: -webkit-gradient(linear, left top, left bottom, from(#7FBF4D), to(#63A62F));

    border-color: #63A62F #63A62F #5B992B;
    border-image: none;
    border-radius: 200px 200px 200px 200px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #96CA6D inset;

    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 12px;
    text-shadow: 0 -1px 0 #4C9021;
    text-decoration: none;
}


body.active_admin form input[type="submit"]:hover:not(.disabled) {
    background-color: #76B347;
    background: -moz-linear-gradient(center top , #76B347, #5E9E2E);
    background: -webkit-gradient(linear, left top, left bottom, from(#76B347), to(#5E9E2E));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #8DBF67 inset;
}
