/*
 *= require_self
 *= require rdcms/bootstrap_and_overrides
 *= require formtastic-bootstrap

 *= require rdcms/glyphs
 *= require rdcms/flags
 *= require rdcms/formstyle
 *= require rdcms/chosen

 *= require rdcms/overlays
 *= require rdcms/navbars

 *= require rdcms/sliders
*/

body {
  background: url("rdcms/sliders/pattern_bg.png") repeat scroll 0 0 #fff;
  padding-top: 0;

  .line { display: block; }

  /* Botões de Navegação */
  .BtnNavContainer {
    height: 36px;
    width: 260px;
    padding: 2px;
    z-index: 2000;
    text-align: center;
    margin: 0 auto;

    /* Button Sprite */
    .BigButton {
      $H: 40px;
      width: 60px;
      // height: $bigButtonSize;
      z-index: 22;
      display: inline-block;
      cursor: pointer;
      color: #000;

      font-size: 24px;
      height: $H;
      line-height: $H;
      text-align: center;

      // background-color: rgba(0,0,0,0.75);
      // *background-color: #111;

      opacity: 1;
      -webkit-transition:opacity 0.3s linear;
         -moz-transition:opacity 0.3s linear;
           -o-transition:opacity 0.3s linear;
              transition:opacity 0.3s linear;

      &:hover {
        color: #0088CC;
        text-decoration: none;
      }
    }

    .fade { display: none; }
    .fade.in { display: inline-block; }

    .btnBack    .BigButtonIcn { background-position: -5px -139px; }
    .btnIndex   .BigButtonIcn { background-position: -28px 5px; }
    .btnZoom    .BigButtonIcn { background-position: 4px 5px; }
    .btnZoomOut .BigButtonIcn { background-position: -28px 5px; }

    .btnNext     .BigButtonIcn { background-position: -60px -60px; }
    .btnPrevious .BigButtonIcn { background-position: -60px -28px; }

    .barControls {
      margin-left: 20px;
      margin-right: 20px;

      .BigButton { width: 40px; }
    }
  }

  /* Container */
  #main.container { width: auto; }
  #other_main.container {
    margin-top: 86px;
    margin-bottom: 42px;
    position: relative;
    z-index: 10;
  }

  /* Barra de navegação */
  > .navbar,
  footer >.navbar {
    &.navbar-fade-background .navbar-inner {
      border: 1px solid transparent;

      .brand,
      .nav > li > a {
        color: #393939;
        text-decoration: none;
        text-shadow: none;
      }
    }

    .container { width: auto; }

    .social-container {
      float: right;
      margin-right: 30px;
      margin-top: 10px;

      .fb_edge_widget_with_comment {
        top: -3px;
      }
    }
  }
  /*  Menu de navegação */
  > .navbar {
    margin: 0;

    &.navbar-fade-background .navbar-inner {
      margin: 0;
      padding: 10px 0 0;
      background: #D2D3D5;
      border: none;

      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;

      .brand,
      .nav > li > a {
        color: #f5f5f5;
        text-decoration: none;
        text-shadow: none;
      }
      .brand {
        padding: 0;
        margin: 5px;
        position: relative;
        z-index: 2010;

        img { max-height: 64px; }
      }
      .nav > li > a {
        float: none;
        padding: 10px 15px;
      }
    }
    .nav {
      /* Específico para seletor de linguagem */
      &.no_string .text {
        position: absolute;
        text-indent: -9999px;
      }
    }
  }
  /* Flash messages container */
  .flash_message_container {
    position: fixed;
    top: 94px;
    left: 0;
    right: 0;

    z-index: 1;

    .alert {
      margin-bottom: 0;

      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
    }
  }

  /* Específico para seletor de linguagem */
  .nav.language_selector {
    &.no_string .text {
      position: absolute;
      text-indent: -9999px;
    }
  }

  /* Barra de "ESC para fechar" */
  .esc {
    position: absolute;
    top:10px;
    left:0;
    width:100%;
    height:40px;
    z-index:10000;

    > div{
      width:140px;
      height:30px;
      margin:auto;
      background:rgba(0,0,0,0.5);
      text-align:center;
      font:12px arial;
      line-height:30px;
      color:white;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -ms-border-radius:10px;
      -o-border-radius:10px;
      border-radius:10px;
    }
  }
}
footer {
  > .navbar {
    .container {
      .brand {
        font-size: 14px;
        padding: 10px;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 980px) {
body {
  /*  Menu de navegação */
  > .navbar {
    .nav {
      &.menu-nav > li {
        margin: -10px 0 0;

        &:focus,
        &:hover,
        &.active {
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSItMTgwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNyUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-linear-gradient(top,  rgba(255,255,255,1) -180%, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 7%, rgba(247,247,247,0.1) 10%, rgba(242,242,242,0) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(-180%,rgba(255,255,255,1)), color-stop(0%,rgba(247,247,247,1)), color-stop(7%,rgba(247,247,247,1)), color-stop(10%,rgba(247,247,247,0.1)), color-stop(100%,rgba(242,242,242,0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(255,255,255,1) -180%,rgba(247,247,247,1) 0%,rgba(247,247,247,1) 7%,rgba(247,247,247,0.1) 10%,rgba(242,242,242,0) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(255,255,255,1) -180%,rgba(247,247,247,1) 0%,rgba(247,247,247,1) 7%,rgba(247,247,247,0.1) 10%,rgba(242,242,242,0) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(255,255,255,1) -180%,rgba(247,247,247,1) 0%,rgba(247,247,247,1) 7%,rgba(247,247,247,0.1) 10%,rgba(242,242,242,0) 100%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(255,255,255,1) -180%,rgba(247,247,247,1) 0%,rgba(247,247,247,1) 7%,rgba(247,247,247,0.1) 10%,rgba(242,242,242,0) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00f2f2f2',GradientType=0 ); /* IE6-8 */

          > a,
          > a:focus,
          > a:hover {
            background: none;
            color: #FFFFFF;
            box-shadow: none;
          }
        }

        > a {
          margin: 40px 0 8px;
          border-radius: 0;
        }
        &:focus,
        &:hover,
        &.active {
          > a {
            border-color: #f5f5f5;
          }
        }
      }
    }
  }
}
}

/* posição fixa mesmo abaixo do tamanho de 979px */
@media (max-width: 979px) {
body {
  .navbar {
    &.navbar-fixed-top,
    &.navbar-fixed-bottom { position: fixed; }
  }
}
}
