/*  Cartão dos parceiros
*******************************************************************************/
.sponsor {
  height: 100%;
  position: relative;
  cursor: pointer;
  font-size: 0.825em;
  color: #666;

  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5) ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1 );  /* IE6-8 fallback on horizontal gradient */

  .sponsorFlip {
    margin: -5px;
    width: 100%;

    &:hover img {
      border: 1px solid #999;

      /* CSS3 inset shadow: */
      -webkit-box-shadow: 0 0 30px #999 inset;
         -moz-box-shadow: 0 0 30px #999 inset;
          box-shadow: 0 0 30px #999 inset;
    }
  }

  .sponsorData { /* Hiding the .sponsorData div */
    display: none;
  }

  .sponsorDescription {
    font-size: 14px;
    font-style: italic;
    padding: 10px 10px 30px 10px;
    height: 140px;
    overflow: hidden;

    img {
      display: block;
      float: left;
      margin-right: 10px;
      max-height: 54px;
      max-width: 78px;
    }
  }

  .sponsorURL {
    bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    left: 10px;
    line-height: 12px;
    position: absolute;
    right: 10px;
    text-align: center;
    overflow: hidden;
  }
}
@media (max-width: 1199px) {
.sponsor {
  .sponsorDescription {
    height: 105px;
  }
}
}
@media (min-width: 768px) and (max-width: 979px) {
.sponsor {
  .sponsorDescription {
    height: 78px;
    padding-bottom: 20px;
    font-size: 10px;

    img {
      max-height: 36px;
      max-width: 52px;
      margin-right: 5px;
    }
  }
  .sponsorURL {
    font-size: 9px;
    bottom: 5px;
  }
}
}
@media (max-width: 767px) {
  .sponsor {
    .sponsorFlip {
      margin: 0;
      img {
        margin: 0px;
      }
    }
    .sponsorDescription {
      height: 150px;
    }
  }
}
