<div class="row">
  <div class="navbar partners_container">
    <div class="navbar-inner">
      <ul class="nav partners_list dock">
        <div class="dockContainer">
          <% @partners.each do |partner| %>
          <li>
            <a class="dockItem" href="<%= partner.url %>" target="_blank" data-placement="top">
              <%= image_tag partner.partner(:thumb), alt: partner.name %>
              <%= content_tag(:span, partner.description) if partner.description? %>
            </a>
          </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
<%= stylesheet_link_tag    "rdcms/dock" %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('.partners_container').Fisheye({
    maxWidth: 120,
    items: 'a',
    itemsText: 'span',
    container: '.dockContainer',
    itemWidth: 70,
    proximity: 90,
    halign : 'center'
  });
});
</script>
