<% @sliders = defined?(@sliders) ? @sliders : Slider.visible.ordained %>
<% if @sliders.blank? and defined?(admin) %>
<div class="blank_slate_container">
  <div class="blank_slate">
    <span><%= I18n.t("active_admin.blank_slate.content", resource_name: Slider.model_name.human) %></span>
    <small><%= link_to I18n.t('active_admin.new_model', model: Slider.model_name.human), new_admin_slider_path %></small>
  </div>
</div>
<% else %>
<ul id="home-slider" class="royalSlider clearfix">
  <% @sliders.each do |slider| %>
    <li class="royalSlide rsContent" style="background-image:url('<%= slider.background.url(:slider) %>');">
      <div class="royalCaption bContainer" style="width:100%;">
        <div class="rsABlock" data-show-effect="fade movetop"  data-move-offset="15">
          <%= raw slider.body %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<script>
$(function() {
  var defaultSlider = $("#home-slider").royalSlider({
		captionShowEffects:["moveleft", "fade"]
	});
});
</script>
<% end %>
