<%= form_for @search, url: galleries_path, :html => { :method => :get, class: "navbar-form" } do |f| %>
  <div class="input-append pull-right">
    <%= f.text_field :translations_name_or_translations_description_contains, placeholder: I18n.t(".search_galleries"), class: "span2" %>
    <%= f.button "<i class=\"icon-search\" aria-hidden=\"true\"></i>".html_safe, name: nil, type: "submit", class: "btn btn-success" %>
  </div>
<% end %>
